.footer {
    padding: 100px 0 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;

    .grids {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: start;
    }

    .grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p {
        font-size: var(--font-size-content-small);
        font-family: var(--font-primary);
        font-weight: 500;
    }

}

.footer__contact {
    text-align: start;
}

.footer__localisation {
    text-align: center;
}

.footer__media {
    text-align: end;
}

.declaration{
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-small{
    width: 70%;
    font-size: 14px !important;
    text-align: center;
}


@media (width <= $breakpoint-sm){
    .footer .grids{
        grid-template-columns: 1fr;
    }
}