.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    h1 {
        font-family: var(--font-primary);
        font-size: 170px;
    }
}

.hero__media {
    width: 100%;
    height: 100%;

    img {
        display: block;
        align-items: end;
        width: 100%;
        height: 911px;
        object-fit: cover;
        object-position: top;
    }
}

.hero__content {
    height: 100%;
}

.hero__content .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 100px;

    height: 100vh;
}

.hero__information {
    display: flex;
    gap: 100px;
}
