.hub {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
    li {
        list-style: none;
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: var(--font-primary);
        font-weight: 600;
    }

    .icon {
        background-color: var(--color-rose);
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }
}

@media (width <= $breakpoint-sm){
    .hub {
        width: 100%;
        ul {
            grid-template-columns: 1fr 1fr ;
            gap: 10px;
        }
    }
}