.passions {
    .wrapper {
        height: 80vh;
        width: 80%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .hover--bleu {
        color: var(--color-bleu);
    }

    .hover--rose {
        color: var(--color-rose);
    }

    .hover--jaune {
        color: var(--color-jaune);
    }

    .hover--vert {
        color: var(--color-vert);
    }
}

.hover-text {
    cursor: none;
}

.intro-text {
    position: relative;
}

.hover-image {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 10;
    pointer-events: none;
    cursor: none;
    overflow: hidden;
}

.larger {
    width: 400px;
}

/* Constrain the size of the img element inside the div */
.hover-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.dimmed {
    transition: opacity 0.1s ease;
}

@media (width <= $breakpoint-sm) {
    .passions .wrapper {
        height: 50vh;
    }
}
