.soft {
    grid-template-columns: 2fr 3fr 6fr;
}


@media (width <= $breakpoint-sm){
    .soft{
        
        h3{
            display: none;
        }
        
        :nth-child(1){
            display: none;
        }
        grid-template-columns: 3fr 4fr;
    }

}