.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.card__media {
    height: 100%;
    width: 100%;
    transition: filter 0.4s ease;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.card {
    position: relative;
    height: 80%;
    overflow: hidden; 
}

.card__content {
    padding: 50px 30px;
    color: var(--color-black);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    transform: translateY(100%);
    visibility: hidden;
    transition: transform 0.4s ease, visibility 0s linear 0.4s;

    h3 {
        padding-bottom: 10px;
    }

    &.jaune {
        background-color: var(--color-jaune);
    }
    &.pink {
        background-color: var(--color-rose);
    }
    &.bleu {
        background-color: var(--color-bleu);
    }
}

.card:hover {
    .card__content {
        transform: translateY(0);
        visibility: visible;
        transition: transform 0.4s ease, visibility 0s;
    }

    .card__media{
        filter: brightness(90%);
    }
}

.buttons {
    display: flex;
    gap: 34px;
}

.projet {
    grid-template-columns: 1fr 3fr 4fr;
}

.projets {
    padding-bottom: 100px;
}
