.page-transition {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
    display: flex;
}

.page-transition__rect {
    flex: 1;
    height: 100%;
    transform: scaleY(1);
    transform-origin: top;

    &:nth-child(1) {
        background-color: var(--color-rose);
    }
    &:nth-child(2) {
        background-color: var(--color-vert);
    }
    &:nth-child(3) {
        background-color: var(--color-bleu);
    }
    &:nth-child(4) {
        background-color: var(--color-jaune);
    }
}
