/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fbfaf5;
    --color-black: #141516;

    // Couleurs du projet
    --color-rose: #ffb9ff;
    --color-bleu: #00dbef;
    --color-vert: #94ee46;
    --color-jaune: #ffdd00;
    --color-bg-primary: #fbfaf5;
}
