{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="wrapper">
            <span></span>
            <h1 class="">
                Nathan
                <br />
                Larose
            </h1>

            <div class="hero__information">
                <p>Recherche de stage en desing UX</p>
                <p>Designer d’exprériances et d’interfaces spécialisé dans le web</p>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <img src="assets/images/hero__nathan.jpg" alt="" />
    </div>
</div>

<div class="hub">
    <div class="wrapper">
        <ul class="hub__information">
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-folders"></use>
                    </svg>
                    Mes projets
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    Linkedin
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    CV
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-contact"></use>
                    </svg>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="passions">
    <div class="wrapper">
        <h2>
            Au-delà du design :
            <span>jeux vidéo</span>
            ,
            <span>figurines</span>
            ,
            <span>amis</span>
            et
            <span>volleyball</span>
            , mes intérêts façonnent ma perception et mon approche de la vie.
        </h2>
    </div>
</section>

<section class="outils">
    <div class="wrapper">
        <div class="titre">
            <h3>Mes outils</h3>
            <p>Je maîtrise différents outils et langages pour créer des expériences numériques.</p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="outil labels">
                <p>nombre</p>
                <p>outils</p>
                <p>niveau</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__outil bleu">
        <div class="wrapper">
            <div class="outil">
                <h3>01</h3>
                <h4>Blender</h4>
                <h4>Novice</h4>
                <p>Création et modélisation d’objets et environnements 3D.</p>
            </div>
        </div>
    </div>
    <div class="full__outil pink">
        <div class="wrapper">
            <div class="outil">
                <h3>02</h3>
                <h4>Responsive</h4>
                <h4>Pro</h4>
                <p>Adaptation des interfaces aux différentes tailles d’écran.</p>
            </div>
        </div>
    </div>
    <div class="full__outil vert">
        <div class="wrapper">
            <div class="outil">
                <h3>03</h3>
                <h4>Figma</h4>
                <h4>Expert</h4>
                <p>Conception de maquettes et prototypes interactifs.</p>
            </div>
        </div>
    </div>
    <div class="full__outil bleu">
        <div class="wrapper">
            <div class="outil">
                <h3>04</h3>
                <h4>After Effect</h4>
                <h4>Novice</h4>
                <p>Création d’animations et d’effets visuels.</p>
            </div>
        </div>
    </div>
    <div class="full__outil jaune">
        <div class="wrapper">
            <div class="outil">
                <h3>05</h3>
                <h4>Html</h4>
                <h4>Expert</h4>
                <p>Structuration du contenu des pages web.</p>
            </div>
        </div>
    </div>
    <div class="full__outil pink">
        <div class="wrapper">
            <div class="outil">
                <h3>06</h3>
                <h4>Css/Scss</h4>
                <h4>Pro</h4>
                <p>Mise en forme et personnalisation visuelle des sites web.</p>
            </div>
        </div>
    </div>
    <div class="full__outil vert">
        <div class="wrapper">
            <div class="outil">
                <h3>07</h3>
                <h4>JavaScript</h4>
                <h4>Novice</h4>
                <p>Programmation d’interactions et de fonctionnalités web.</p>
            </div>
        </div>
    </div>
</section>

<section class="cheminement">
    <div class="wrapper">
        <div class="titre">
            <h3>Mon cheminement</h3>
            <p>
                Mon parcours m’a progressivement mené vers le design numérique, en passant par le secondaire, le TIM, la robotique et différents projets
                créatifs.
            </p>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
