{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="wrapper">
            <span></span>
            <h1 class="">
                Nathan
                <br />
                Larose
            </h1>

            <div class="hero__information">
                <p>Recherche de stage en desing UX</p>
                <p>Designer d’exprériances et d’interfaces spécialisé dans le web</p>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <img src="assets/images/hero__nathan.jpg" alt="" />
    </div>
</div>

<div class="hub">
    <div class="wrapper">
        <ul class="hub__information">
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    Mes projets
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    Linkedin
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    CV
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>

{% include '_partials/_footer.html' %}
