{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="wrapper">
            <span></span>
            <h1 class="">
                Nathan
                <br />
                Larose
            </h1>

            <div class="hero__information">
                <p>Recherche de stage en desing UX</p>
                <p>Designer d’exprériances et d’interfaces spécialisé dans le web</p>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <img src="assets/images/hero__nathan.jpg" alt="" />
    </div>
</div>

<div class="hub">
    <div class="wrapper">
        <ul class="hub__information">
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-folders"></use>
                    </svg>
                    Mes projets
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                    Linkedin
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-download"></use>
                    </svg>
                    CV
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="icon icons-lg hub--icons">
                        <use xlink:href="#icon-contact"></use>
                    </svg>
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>

<section class="passions">
    <div class="wrapper">
        <h2>
            Au-delà du design :
            <span>jeux vidéo</span>
            ,
            <span>arts plastiques</span>
            ,
            <span>amis</span>
            et
            <span>grandeur nature</span>
            , mes intérêts façonnent ma perception et mon approche de la vie.
        </h2>
    </div>
</section>

<section class="outils">
    <div class="wrapper">
        <div class="titre">
            <h3>Mes outils</h3>
            <p>Je maîtrise différents outils et langages pour créer des expériences numériques.</p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="outil listes labels">
                <p>nombre</p>
                <p>outils</p>
                <p>niveau</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__outil bleu">
        <div class="wrapper">
            <div class="outil listes">
                <h3>01</h3>
                <h4>Blender</h4>
                <h4>Novice</h4>
                <p>Création et modélisation d’objets et environnements 3D.</p>
            </div>
        </div>
    </div>
    <div class="full__outil pink">
        <div class="wrapper">
            <div class="outil listes">
                <h3>02</h3>
                <h4>Responsive</h4>
                <h4>Pro</h4>
                <p>Adaptation des interfaces aux différentes tailles d’écran.</p>
            </div>
        </div>
    </div>
    <div class="full__outil vert">
        <div class="wrapper">
            <div class="outil listes">
                <h3>03</h3>
                <h4>Figma</h4>
                <h4>Expert</h4>
                <p>Conception de maquettes et prototypes interactifs.</p>
            </div>
        </div>
    </div>
    <div class="full__outil bleu">
        <div class="wrapper">
            <div class="outil listes">
                <h3>04</h3>
                <h4>After Effect</h4>
                <h4>Novice</h4>
                <p>Création d’animations et d’effets visuels.</p>
            </div>
        </div>
    </div>
    <div class="full__outil jaune">
        <div class="wrapper">
            <div class="outil listes">
                <h3>05</h3>
                <h4>Html</h4>
                <h4>Expert</h4>
                <p>Structuration du contenu des pages web.</p>
            </div>
        </div>
    </div>
    <div class="full__outil pink">
        <div class="wrapper">
            <div class="outil listes">
                <h3>06</h3>
                <h4>Css/Scss</h4>
                <h4>Pro</h4>
                <p>Mise en forme et personnalisation visuelle des sites web.</p>
            </div>
        </div>
    </div>
    <div class="full__outil vert">
        <div class="wrapper">
            <div class="outil listes">
                <h3>07</h3>
                <h4>JavaScript</h4>
                <h4>Novice</h4>
                <p>Programmation d’interactions et de fonctionnalités web.</p>
            </div>
        </div>
    </div>
</section>

<section class="cheminement" data-component="Timeline">
    <div class="wrapper">
        <div class="titre">
            <h3>Mon cheminement</h3>
            <p>
                Mon parcours m’a progressivement mené vers le design numérique, en passant par le secondaire, le TIM, la robotique et différents projets
                créatifs.
            </p>
        </div>
    </div>
    <div class="scroller">
        <div class="stage">
            <div class="photo">
                <img
                    id="photoImg"
                    src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1200&auto=format&fit=crop"
                    alt="Photo associée à l'étape active"
                />
            </div>

            <div class="rail">
                <div class="progress"><div class="progress-fill" id="progressFill"></div></div>

                <div class="point">
                    <img class="point-img" src="assets/images/enfance.jpg" alt="" hidden />
                    <h3 class="year">2007</h3>
                    <div>
                        <h4>Le début de l'aventure</h4>
                        <p>Ma naissance, le point de départ de mon parcours.</p>
                    </div>
                </div>

                <div class="point">
                    <img class="point-img" src="assets/images/decouverte.jpg" alt="" hidden />
                    <h3 class="year">2022</h3>
                    <div>
                        <h4>La découverte du web</h4>
                        <p>Je découvre ma passion pour le web et le design.</p>
                    </div>
                </div>

                <div class="point">
                    <img class="point-img" src="assets/images/graduation.jpg" alt="" hidden />
                    <h3 class="year">2024</h3>
                    <div>
                        <h4>Graduation secondaire</h4>
                        <p>Je termine mon secondaire et je fais mon début au cégep.</p>
                    </div>
                </div>

                <div class="point">
                    <img class="point-img" src="assets/images/stage.jpg" alt="" hidden />
                    <h3 class="year">2026</h3>
                    <div>
                        <h4>Recherche de stage</h4>
                        <p>Développement de mes compétences en web, design UX/UI et multimédia.</p>
                    </div>
                </div>

                <div class="point">
                    <img class="point-img" src="assets/images/université.jpg" alt="" hidden />
                    <h3 class="year">2027</h3>
                    <div>
                        <h4>BAC en UX à l'ÉTS</h4>
                        <p>Je développe mon portfolio et j'explore de nouvelles possibilités en UX.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="philosophie listes">
    <div class="wrapper">
        <div class="titre">
            <h3>Ma philosophie</h3>
            <p>
                Je travaille avec curiosité, ouverture et collaboration. J’aime comprendre les besoins, partager mes idées et trouver des solutions créatives
                tout en restant organisé et adaptable.
            </p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="soft listes labels">
                <p>nombre</p>
                <p>sortes</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__soft bleu">
        <div class="wrapper">
            <div class="soft listes">
                <h3>01</h3>
                <h4>Communication</h4>
                <p>Exprimer mes idées clairement et collaborer efficacement avec les autres.</p>
            </div>
        </div>
    </div>
    <div class="full__soft pink">
        <div class="wrapper">
            <div class="soft listes">
                <h3>02</h3>
                <h4>Ouverture d’esprit</h4>
                <p>Exprimer mes idées clairement et collaborer efficacement avec les autres.</p>
            </div>
        </div>
    </div>
    <div class="full__soft vert">
        <div class="wrapper">
            <div class="soft listes">
                <h3>03</h3>
                <h4>Organisation</h4>
                <p>Structurer mon travail et gérer efficacement mes priorités et mes échéances.</p>
            </div>
        </div>
    </div>
    <div class="full__soft bleu">
        <div class="wrapper">
            <div class="soft listes">
                <h3>04</h3>
                <h4>Patience</h4>
                <p>Prendre le temps de comprendre, apprendre et avancer sans me précipiter.</p>
            </div>
        </div>
    </div>
    <div class="full__soft jaune">
        <div class="wrapper">
            <div class="soft listes">
                <h3>05</h3>
                <h4>Leadership</h4>
                <p>Guider un groupe, prendre des initiatives et encourager la collaboration.</p>
            </div>
        </div>
    </div>
</section>

<section class="realisation">
    <div class="wrapper">
        <div class="titre">
            <h3>Mes réalisations</h3>
            <p>
                Mes projets reflètent mon parcours, ma créativité et mes apprentissages en design. Découvrez davantage de mes réalisations et de mon évolution
                sur ma page Projets.
            </p>
        </div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card__media">
                <img src="assets/images/dynamiques_cover.jpg" alt="" />
            </div>

            <div class="card__content">
                <h3>2025</h3>
                <p>Développement d’image de marque et web</p>
            </div>
        </div>

        <div class="card">
            <div class="card__media">
                <img src="assets/images/dynamiques_cover.jpg" alt="" />
            </div>

            <div class="card__content">
                <h3>2025</h3>
                <p>Développement d’image de marque et web</p>
            </div>
        </div>

        <div class="card">
            <div class="card__media">
                <img src="assets/images/dynamiques_cover.jpg" alt="" />
            </div>

            <div class="card__content">
                <h3>2025</h3>
                <p>Développement d’image de marque et web</p>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="wrapper">
        <h2>On en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html">Voir mes projets</a>
            <a class="button primary" href="projets.html">Prendre un café</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
