{% include '_partials/_header.html' %}


<section class="cta">
    <div class="wrapper">
        <h2>On en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html">Voir mes projets</a>
            <a class="button primary" href="projets.html">Prendre un café</a>
        </div>

    </div>
</section>


{% include '_partials/_footer.html' %}
