{% include '_partials/_header.html' %}

<div class="hover-image" data-hover="dynamiques"><img src="assets/images/preview-dynamiques.jpg"></div>
<div class="hover-image" data-hover="boxotel"><img src="assets/images/preview-boxotel.jpg"></div>
<div class="hover-image" data-hover="bourgeon"><img src="assets/images/preview-bourgeon.jpg"></div>
<div class="hover-image" data-hover="timflix"><img src="assets/images/preview-timflix.jpg"></div>
<div class="hover-image" data-hover="citronade"><img src="assets/images/preview-orengade.jpg"></div>



<section class="projets" data-component="HoverImage">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h1>Mes projets</h1>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="projet listes labels">
                <p>année</p>
                <p>titre</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <img src="assets/images/preview-dynamiques.jpg" alt="">
                <h3>2024</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="boxotel">
                <img src="assets/images/preview-boxotel.jpg" alt="">
                <h3>2026</h3>
                <h4>Refonte et intégration du site de boxotel</h4>
                <p>Refonte d’un site hôtelier qui ne reflétait pas les services qu’il vendait et optimisation du flux de navigation et du positionnement des informations. </p>
            </a>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="bourgeon">
                <img src="assets/images/preview-bourgeon.jpg" alt="">
                <h3>2026</h3>
                <h4>Création de l’identité visuelle de Bourgeon</h4>
                <p>Nous devions créer une entreprise qui offrait des services de rebranding, visant les sites web, les images de marque ou tout autre mandat nécessitant une quelconque modernisation.</p>
            </a>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" href="projet-timflix.html"  data-hover="timflix">
                <img src="assets/images/preview-timflix.jpg" alt="">
                <h3>2024</h3>
                <h4>Desing UI/UX d’une application de cinéma</h4>
                <p>Nous devions créer une entreprise qui offrait des services de rebranding, visant les sites web, les images de marque ou tout autre mandat nécessitant une quelconque modernisation.</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="citronade">
                <img src="assets/images/preview-orengade.jpg" alt="">
                <h3>2025</h3>
                <h4>Concevoir et réaliser une expérience web interactive</h4>
                <p>Nous devions créer une entreprise offrant des services de rebranding pour moderniser des sites web, des images de marque ou tout autre projet.</p>
            </a>
        </div>
    </div>
    </div>
</section>

<section class="cta">
    <div class="wrapper">
        <h2>On n'en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html" data-interactive data-cursor-text="Voir plus">Voir mes projets</a>
            <a class="button primary" href="projets.html" data-interactive data-cursor-text="Voir plus">Prendre un café</a>
        </div>
    </div>
</section>


{% include '_partials/_footer.html' %}
