{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="wrapper">
            <span></span>
            <h1 class="">Pour les amoureux de films</h1>

            <div class="hero__information">
                <p>Application Timflix</p>
                <p>Désing UI/UX d’une application de cinéma</p>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <img src="assets/images/timflix/timflix-hero.jpg" alt="" />
    </div>
</div>

<section class="apprentissage">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Crédits</h3>
            <p>J’ai utilisé l’IA pour corriger mes textes et pour générer du contenu fictif pour les profils.</p>
        </div>
    </div>
</section>

<section class="contexte">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Le contexte</h3>
            <p>Dans le cours de design d’interface, nous devions créer une application de cinéma afin de nous pratiquer à prototyper nos maquettes.</p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/timflix/timflix-contexte1.jpg" alt="" />
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-contexte2.jpg" alt="" />
        </div>
    </div>
</section>

<section class="objectif">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>L’objectif</h3>
            <p>
                Rendre l’application intuitive et facilement navigable. Elle devait également respecter la grille de correction. Finalement, le système de vote
                devait être original.
            </p>
        </div>
    </div>

    <div class="image">
        <img src="assets/images/timflix/timflix-moodboard.jpg" alt="" />
    </div>

    <!-- Slider main container -->
    <div class="swiper" data-component="Carousel" data-interactive data-cursor-text="Déroule">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img class="rectangle" src="assets/images/timflix/timflix-caroussel_slide1.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/timflix/timflix-caroussel_slide2.jpg" alt="" />
                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide carre">
                <img src="assets/images/timflix/timflix-caroussel_slide3.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/timflix/timflix-caroussel_slide4.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/timflix/timflix-caroussel_slide5.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/timflix/timflix-caroussel_slide4.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="swiper-slide carre">
                <img src="assets/images/timflix/timflix-caroussel_slide3.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
        </div>
    </div>
</section>

<section class="direction_visuel">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Ma direction visuel</h3>
            <p>
                Personnellement, je suis parti sur une palette de couleurs bleue et jaune. Des couleurs le fun et lisibles sur la plupart des arrière-plans. Ma
                typographie apportait également un aspect le fun.
            </p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-1.jpg" alt="" />

            <p class="p-small">Légende</p>
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-2.jpg" alt="" />
            <p class="p-small">Légende</p>
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-3.jpg" alt="" />
            <p class="p-small">Légende</p>
        </div>
    </div>
</section>

<section class="processus">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mon processus</h3>
            <p>Voici les 5 étapes majeures de ce projet qui l’ont mené à sa complétion.</p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="projet listes labels">
                <p>étape</p>
                <p>titre</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>01</h3>
                <h4>Recherche de comparables</h4>
                <p>
                    Avant de commencer à réfléchir au design, j’ai fait des recherches pour trouver d’autres applications de cinéma et comparer leurs points
                    communs.
                </p>
            </a>
        </div>
    </div>
    <div class="full__projet bleu">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>02</h3>
                <h4>Création du moodboard</h4>
                <p>J’ai sélectionné les applications qui m’intéressaient et créé un moodboard afin de mieux concrétiser ma direction visuelle.</p>
            </a>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>03</h3>
                <h4>Début des wireframe</h4>
                <p>J’ai commencé à placer mes idées à l’aide de wireframes, ce qui me permettait de changer facilement mes composants de place au besoin.</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>04</h3>
                <h4>Application des styles</h4>
                <p>J’ai appliqué mon guide de styles à mes wireframes et concrétisé les composants avec des éléments graphiques clairs.</p>
            </a>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>05</h3>
                <h4>Prototypage</h4>
                <p>
                    Une fois toutes les maquettes terminées, je devais maintenant simuler le mieux possible le parcours utilisateur typique à travers
                    l’application.
                </p>
            </a>
        </div>
    </div>
</section>

<section class="prototype">
    <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1)"
        width="100%"
        height="100%"
        src="https://embed.figma.com/design/FhA4KqQNLvQGcdLTewN22s/1012_larose_nathan_TP1?node-id=6696-183&embed-host=share"
        allowfullscreen
    ></iframe>
</section>

<section class="apprentissage">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Ce que j’ai appris</h3>
            <p>
                Dans ce projet, j’ai beaucoup appris à prototyper avec Figma. Puisque j’étais encore nouveau avec ce logiciel, ce projet a été un élément clé
                dans ma progression.
            </p>
        </div>
    </div>
</section>

<section class="cta">
    <div class="wrapper">
        <h2>On n'en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html" data-interactive data-cursor-text="Voir plus">Voir mes projets</a>
            <a class="button primary" href="projets.html" data-interactive data-cursor-text="Voir plus">Prendre un café</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
