{% include '_partials/_header.html' %}
<div data-component="Scroller">
    <div class="hero js-horiz">
        <div class="hero__content js-panel">
            <div class="wrapper">
                <span></span>
                <h1 class="">Inspirés par le talent. Définis par la persévérance.</h1>

                <div class="hero__information">
                    <p>Dynamiques 9624</p>
                    <p>Développement d’image de marque et web</p>
                </div>
            </div>
        </div>

        <div class="hero__media js-panel">
            <picture>
                <source media="(max-width: 768px)" srcset="assets/images/dynamiques9624/hero_dynamiques-mobile.jpg" />
                <img src="assets/images/dynamiques9624/hero_dynamiques-desktop.jpg" alt="Portrait de Nathan Larose" />
            </picture>
        </div>
    </div>
</div>

<section class="apprentissage">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Crédits</h3>
            <p>
                Mentorat : Sunita Meckunkir Coéquipière : Malika Chatelais Mise au normes : Agence CCL Photo : Damien Utilisation de l’AI : Correction des
                textes
            </p>
        </div>
    </div>
</section>

<section class="contexte">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Le contexte</h3>
            <p>
                Ce projet a été réalisé sur mon temps libre, dans un cadre parascolaire, afin de créer l'identité visuelle et le site web représentant l'équipe
                des Dynamiques 9624, une équipe de robotique sportive créée en 2024.
            </p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-contexte-1.jpg" alt="" />
        </div>
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-contexte-2.jpg" alt="" />
        </div>
    </div>
</section>

<section class="objectif">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>L’objectif</h3>
            <p>
                L'objectif était de concevoir, en 7 semaines, un robot 100 % fonctionnel capable d'exécuter diverses tâches. Durant cette période, ma mission
                était de définir notre identité visuelle et de la valoriser auprès des juges.
            </p>
        </div>
    </div>

    <div class="image">
        <img src="assets/images/dynamiques9624/dynamiques-robot.jpg" alt="" />
    </div>

    <!-- Slider main container -->
    <div class="swiper" data-component="Carousel" data-interactive data-cursor-text="Déroule →">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img class="rectangle" src="assets/images/dynamiques9624/dynamiques-caroussel_slide-1.jpg" alt="" />

                <p class="p-small">Wireframe de l'application</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel_slide-2.jpg" alt="" />
                <p class="p-small">Design de la page d'accueil</p>
            </div>
            <div class="swiper-slide carre">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel_slide-3.jpg" alt="" />

                <p class="p-small">Composante de la nav</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel_slide-4.jpg" alt="" />

                <p class="p-small">Maquette de l'application</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel_slide-5.jpg" alt="" />

                <p class="p-small">Élément graphiques, icons et boutons</p>
            </div>
        </div>
    </div>
</section>

<section class="processus technique">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Environement technique</h3>
            <p>Les différents outils, logiciels et techniques utilisés pour ce projet</p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="listes labels">
                <p>sortes</p>
                <p>compétence</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Logiciel</h4>
                <h4>Figma</h4>
                <p>Conception de maquettes et de prototypes interactifs</p>
            </a>
        </div>
    </div>
    <div class="full__projet bleu">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Outils</h4>
                <h4>Papier, Crayon</h4>
                <p>Esquisse initiale du logo pour poser les bases artistiques</p>
            </a>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Logiciel</h4>
                <h4>Canva</h4>
                <p>Création de produits dérivés (merchandising) et d'accessoires (props)</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Technique</h4>
                <h4>Lisibilité</h4>
                <p>Sélection de la palette de couleurs garantissant une lisibilité optimale sur tous les supports</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Logociel</h4>
                <h4>Photoshop</h4>
                <p>Création d'images et de visuels complexes</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h4>Logociel</h4>
                <h4>After effects</h4>
                <p>Animation du logo</p>
            </a>
        </div>
    </div>
</section>

<section class="direction_visuel">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Ma direction visuel</h3>
            <p>
                Pour éviter une identité trop institutionnelle, j'ai choisi des couleurs vives, un style ludique et des éléments graphiques rappelant les
                abeilles.
            </p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-direction_visuel-1.jpg" alt="" />

            <p class="p-small">Légende</p>
        </div>
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-direction_visuel-2.jpg" alt="" />
            <p class="p-small">Légende</p>
        </div>
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-direction_visuel-3.jpg" alt="" />
            <p class="p-small">Légende</p>
        </div>
    </div>
</section>

<section class="processus">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mon processus</h3>
            <p>
                Voici les
                <span class="highlight highlight--rose">
                    <span class="highlight-bg"></span>
                    5 étapes majeures
                </span>
                de ce projet qui l’ont mené à sa complétion.
            </p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="listes labels">
                <p>étape</p>
                <p>titre</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>01</h3>
                <h4>Définir l’identité de marque</h4>
                <p>Développer une identité visuelle cohérente qui représente l’équipe, ses valeurs et son univers technologique.</p>
            </a>
        </div>
    </div>
    <div class="full__projet bleu">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>02</h3>
                <h4>Créer l’image de marque</h4>
                <p>Concevoir les éléments graphiques de l’équipe afin de créer une image professionnelle, reconnaissable et adaptée à différents supports.</p>
            </a>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>03</h3>
                <h4>Concevoir le site web</h4>
                <p>Concevoir et développer un site web permettant de présenter l’équipe, le projet, nos réalisations et nos partenaires.</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>04</h3>
                <h4>Développer la stratégie marketing</h4>
                <p>
                    Développer la stratégie marketing, Créer du contenu et des outils de communication pour promouvoir le projet auprès des commanditaires, des
                    juges et des élèves.
                </p>
            </a>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text" data-hover="dynamiques">
                <h3>05</h3>
                <h4>Présenter et promouvoir le projet</h4>
                <p>Mettre en valeur notre travail et notre identité afin de renforcer la visibilité de l’équipe et attirer de nouveaux partenaires.</p>
            </a>
        </div>
    </div>
</section>

<div class="image">
    <img src="assets/images/dynamiques9624/dynamiques-site_web.jpg" alt="" />
</div>
<div class="contexte">
    <div class="images">
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-contexte-3.jpg" alt="" />
        </div>
        <div class="image">
            <img src="assets/images/dynamiques9624/dynamiques-contexte-4.jpg" alt="" />
        </div>
    </div>
</div>

<section class="prototype">
    <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1)"
        width="100%"
        height="100%"
        src="https://embed.figma.com/design/FhA4KqQNLvQGcdLTewN22s/1012_larose_nathan_TP1?node-id=6696-183&embed-host=share"
        allowfullscreen
    ></iframe>
</section>

<section class="apprentissage">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Ce que j’ai appris</h3>
            <p>
                Ce projet m'a permis de mieux comprendre l'importance de créer une identité cohérente à travers différents supports. J'ai également appris à
                mieux justifier mes choix de design plutôt que de me baser uniquement sur mes préférences personnelles.
            </p>
        </div>
    </div>

    <div class="direction_visuel">
        <div class="images">
            <div class="image">
                <img src="assets/images/dynamiques9624/dynamiques-apprentissage-1.jpg" alt="" />

                <p class="p-small">Légende</p>
            </div>
            <div class="image">
                <img src="assets/images/dynamiques9624/dynamiques-apprentissage-2.jpg" alt="" />
                <p class="p-small">Légende</p>
            </div>
            <div class="image">
                <img src="assets/images/dynamiques9624/dynamiques-apprentissage-3.jpg" alt="" />
                <p class="p-small">Légende</p>
            </div>
        </div>
    </div>
</section>

<section class="realisation">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Autres réalisation</h3>
            <p>J’ai réalisé plusieurs autres petits projets liés aux Dynamiques, voici des extraits de ces derniers</p>
        </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper" data-component="Carousel" data-interactive data-cursor-text="Déroule →">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img class="rectangle" src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-1.jpg" alt="" />

                <p class="p-small">Emplacement réservé aux remerciements des commanditaires</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-2.jpg" alt="" />
                <p class="p-small">Roll-up exposée lors des compétitions pour remercier nos commanditaires</p>
            </div>
            <div class="swiper-slide carre">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-3.jpg" alt="" />

                <p class="p-small">Publication Instagram d'invitation aux portes ouvertes</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-4.jpg" alt="" />

                <p class="p-small">Affiche pour la collecte de cannettes (levée de fonds)</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-5.jpg" alt="" />

                <p class="p-small">Publications hebdomadaires sur Instagram retraçant l'actualité de l'équipe (8 totales)</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-6.jpg" alt="" />

                <p class="p-small">Brochure explicative présentant le robot</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-7.jpg" alt="" />

                <p class="p-small">Publication Instagram pour l'annonce de notre spectacle de musique</p>
            </div>
            <div class="swiper-slide">
                <img src="assets/images/dynamiques9624/dynamiques-caroussel-more_slide-8.jpg" alt="" />

                <p class="p-small">Affiche de sécurité apposée sur nos zones de travail</p>
            </div>
        </div>
    </div>
</section>

<section class="cta">
    <div class="wrapper">
        <h2>On n'en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html" data-interactive data-cursor-text="Voir plus">Voir mes projets</a>
            <a class="button primary" href="projets.html" data-interactive data-cursor-text="Voir plus">Prendre un café</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
