{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="wrapper">
            <span></span>
            <h1 class="">
                Pour les amoureux de films
            </h1>

            <div class="hero__information">
                <p>Application Timflix</p>
                <p>Désing UI/UX d’une application de cinéma</p>
            </div>
        </div>
    </div>

    <div class="hero__media">
        <img src="assets/images/timflix/timflix-hero.jpg" alt="" />
    </div>
</div>

<section class="contexte">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mes outils</h3>
            <p>Je maîtrise 
                <span class="highlight highlight--bleu">
                    <span class="highlight-bg"></span>différents
                </span>  
                outils et langages pour créer des 
                <span class="highlight highlight--rose">
                    <span class="highlight-bg"></span>expériences numériques
                </span>
            .</p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/timflix/timflix-contexte1.jpg" alt="">
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-contexte2.jpg" alt="">
        </div>
    </div>
</section>

<section class="objectif">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mes outils</h3>
            <p>Je maîtrise 
                <span class="highlight highlight--bleu">
                    <span class="highlight-bg"></span>différents
                </span>  
                outils et langages pour créer des 
                <span class="highlight highlight--rose">
                    <span class="highlight-bg"></span>expériences numériques
                </span>
            .</p>
        </div>
    </div>

    <div class="image">
        <img src="assets/images/timflix/timflix-moodboard.jpg" alt="">
    </div>

    <!-- Slider main container -->
    <div class="swiper" data-component="Carousel" data-interactive data-cursor-text="Déroule">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide rectangle">
            <img src="assets/images/timflix/timflix-caroussel_slide1.jpg" alt="">
        </div>
        <div class="swiper-slide ">
            <img src="assets/images/timflix/timflix-caroussel_slide2.jpg" alt="">
        </div>
        <div class="swiper-slide carre">
            <img src="assets/images/timflix/timflix-caroussel_slide3.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/images/timflix/timflix-caroussel_slide4.jpg" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/images/timflix/timflix-caroussel_slide5.jpg" alt="">
        </div>
    </div>
</section>

<section class="direction_visuel">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mes outils</h3>
            <p>Je maîtrise 
                <span class="highlight highlight--bleu">
                    <span class="highlight-bg"></span>différents
                </span>  
                outils et langages pour créer des 
                <span class="highlight highlight--rose">
                    <span class="highlight-bg"></span>expériences numériques
                </span>
            .</p>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-1.jpg" alt="">
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-2.jpg" alt="">
        </div>
        <div class="image">
            <img src="assets/images/timflix/timflix-direction_visuel-3.jpg" alt="">
        </div>
    </div>
</section>

<section class="processus">
    <div class="wrapper">
        <div class="titre" data-component="HighlightText">
            <h3>Mes outils</h3>
            <p>Je maîtrise 
                <span class="highlight highlight--bleu">
                    <span class="highlight-bg"></span>différents
                </span>  
                outils et langages pour créer des 
                <span class="highlight highlight--rose">
                    <span class="highlight-bg"></span>expériences numériques
                </span>
            .</p>
        </div>
    </div>
    <div class="">
        <div class="wrapper">
            <div class="projet listes labels">
                <p>étape</p>
                <p>titre</p>
                <p>en gros</p>
            </div>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <h3>01</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
    <div class="full__projet bleu">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <h3>02</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
    <div class="full__projet vert">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <h3>03</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
    <div class="full__projet jaune">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <h3>04</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
    <div class="full__projet pink">
        <div class="wrapper">
            <a class="projet listes hover-text"  data-hover="dynamiques">
                <h3>05</h3>
                <h4>Développement de l’image de marque des Dynamiques 9624</h4>
                <p>Projet de robotique internationale qui vise les jeunes étudiants passionnés par les sciences. Le projet était conçu pour être présenté aux commanditaires, aux juges et aux élèves.</p>
            </a>
        </div>
    </div>
</section>

<section class="prototype">

    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%" src="https://embed.figma.com/design/FhA4KqQNLvQGcdLTewN22s/1012_larose_nathan_TP1?node-id=6696-183&embed-host=share" allowfullscreen></iframe>
</section>

 

<section class="cta">
    <div class="wrapper">
        <h2>On n'en reste pas là ?</h2>
        <p>Ce projet a été réalisé dans le cadre de mon portfolio afin de créer une identité visuelle qui représente</p>

        <div class="buttons">
            <a class="button secondary" href="projets.html" data-interactive data-cursor-text="Voir plus" >Voir mes projets</a>
            <a class="button primary" href="projets.html"   data-interactive data-cursor-text="Voir plus" >Prendre un café</a>
        </div>

    </div>
</section>


{% include '_partials/_footer.html' %}
